<% if current_user %>
  <div>
    <div style="float:left;width:20%;">
      <ul class="list-inline">
        <% @pages.each do |page| %>
          <li><%= page.name %></li>
        <% end %>
        <li><%= link_to "add page","#" %></li>
      </ul>
    </div>
    <div style="float:left;width:80%;">
      <%#= image_tag current_user.picture %>
    </div>
  </div>
<% end %>